# Entorno virtual
venv/
.env/

# Archivos de configuración sensible
*.env
*.key
*.sqlite3

# Archivos generados por Django
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de IDE
.vscode/
.idea/

# Base de datos local
db.sqlite3

# Logs
*.log

# Archivos de entorno
.env
.env.local
.env.development
.env.production

# Archivos de macOS
.DS_Store

# Archivos de Windows
Thumbs.db